.card{
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
    z-index:2;
}

.card.active {
    box-shadow: 0 0 30px 15px #ad94de;
    color: #450F93;
}

.card-title{
    text-align: center;
}


.estethicCard{
    border:none !important;
}
.estethicCard:hover{
    color: #450F93;
    font-size: 30px;
}

.phalanxCard{
    border:none !important;
}




@media (max-width:1023px) {


}

@media(min-width:1024px) {
    .phalanxCard,
    .estethicCard,
    .fingersCard,
    .ProjectCard{
        width:15rem;
    }
}


@media(min-width:1367px){
    .phalanxCard,
    .estethicCard,
    .fingersCard,
    .ProjectCard{
        width:30rem;
    }
}