.card{
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
    z-index:2;

}

.card:hover{

    border: #450F93 solid 20px;
    transition: all 0.3s ease;
}

.card:active{

    border: #450F93 solid 20px;
}

.card-title{
    text-align: center;
}

.estethicCard{
    border:none !important;
}
.estethicCard:hover{
    color: #450F93;
    font-size: 30px;
}

.fingersCard.card{
    border:none !important;
}
.phalanxCard{
    border:none !important;
}




@media (max-width:1023px) {
    .card{
        width: 10rem !important;
        border: lightgrey solid 20px;
    }
  /*  .card:hover{

        width: 15rem !important;
        border: #450F93 solid 10px;
    }*/

}

@media(min-width:1024px) {
    .fingersCard.card{
        width: 25rem !important;
    }

    .card{
        width: 15rem;
        border:10px;
        border: lightgrey solid 10px;
    }
  /*  .card:hover{
        width: 18rem !important;
        border: #450F93 solid 10px;
    }*/
    /*.centralSide .card{
        width: 15rem !important;
    }
    .centralSide .card:hover{
        width: 15rem !important;
        border:none;
    }*/

}


@media(min-width:1367px){
    .fingersCard .card :hover{
        border:none !important;
        width: 25rem !important;
    }
    .card{
        width: 25rem !important;
        border: lightgrey solid 10px;
    }
   /* .card:hover{
        width: 30rem !important;
        border: #450F93 solid 20px;
    }*/
/*    .centralSide .card{
        width: 25rem !important;
    }
    .centralSide .card:hover{
        width: 30rem !important;
        border:lightgrey solid 10px;
    }*/

}